#add-book {
  margin-bottom: 20px;
}
#add-book > button {
  margin-bottom: 10px;
}
#add-book input {
  margin-right: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) td {
  background-color: #dddddd;
}

.status-text {
  display: inline;
}
.status-change {
  float: right;
}

.delete-btn {
  padding: 10px;
  background-color: red;
  border: white 1px solid;
  color: white;
}
.delete-btn:active {
  background-color: rgb(154, 0, 0);
}